# Archivos de variables locales
.env*
!.env.example   # se versióna solo la plantilla vacía

# Reportes HTML locales
reports/*.html

# Archivos compilados de Python
__pycache__/
*.pyc

# Resultados de pruebas de Playwright
test-results/

# Archivos temporales del sistema
.DS_Store
Thumbs.db